/* remove the default margin/padding to bring things closer. */
body{
    margin: 0;
    padding: 0;
}

/* bg file is a vector, not sure how much it'll scale, or if the code will scale it */
#header{
    height: 100px;
    border: 1px solid black;
    background-image: url(../img/bg.svg);
    text-align: center;
    font-style: bold;
}

#nav{
    background-color: black;  
    text-align: center;      
}

a{
    text-decoration: none;
    color: white;
    padding-right: 50px;
}

img{
    margin-right: 10px
}

#side-bar{
    float: left;
    width: 280px;
    padding: 8px;
    font-family: Arial, Helvetica, Verdana, Sans-serif;
    font-size: 12px;
    color: #666666;
}
#content{
    padding-left: 4em;
    margin-left: 280px;
    width: 800px;
}

#footer{
	clear: both;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 15px;
	border: 1px solid black;
	padding: 13px 25px;
    line-height: 18px;
    text-align: center;
    background-color: #908E47;
}

/* Shrinky-Expandy control */
@media (max-width: 600px) {    
    h1{
        color: white;
    }

    #nav a{
        display: block;
    }
    
    div{
        text-align: center;
    }
  }