.jumbotron {
  text-align: center;
  background-color: lightgrey;
    
 }

a {
  text-decoration: none;
  color: white;
  padding-right: 50px;
}
h2{
  text-align: center;
}

img {
  margin-right: 10px;
}

#flex-container{
  display: flex;
  align-content: space-around;

}

#l-side-bar {
  flex: 0 0 250px;
}

#center {
  flex-grow: 
}


#r-side-bar{
flex: 0 0  250px;
}

.footer {
  text-align: center;
}
#footer {
  clear: both;
  font-family: Tahoma, Arial, Helvetica, Sans-serif;
  font-size: 15px;
  border: 1px solid black;
  padding: 13px 25px;
  line-height: 18px;
  text-align: center;
  background-color: #908e47;
}

/* Shrinky-Expandy control */
@media (max-width: 600px) {
  h1 {
    color: white;
  }

  #nav a {
    display: block;
  }

  div {
    text-align: center;
  }
}
